*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html, body{
width: 100%;
height: 100%;
}

// main{
//     width: 100%;
//     height: 100%;
//     // display: flex;
//     // align-items: center;
//     justify-content: center;
//     position: absolute;
//     // left: 50%;
//     // top: 50%;
//     // transform: translate(-50%, -50%);
//     #circle{
//         width: 40vw;
//         aspect-ratio: 1/1;
//         border-radius: 50%;
//         // border: 2px solid black;
//     box-shadow:
//         0 8px 20px rgba(0,0,0,0.15),
//         0 20px 40px rgba(0,0,0,0.10);

//         position: absolute;


//         #line1{
//             width: 1rem;
//             height: 5rem;
//             background-color: black;
//             position: absolute;
//         }
//     }
// }

main{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  #circle{
    width: 40vw;
    aspect-ratio: 1/1;
    border-radius: 50%;
    // background-color: #111;

        box-shadow:
        0 8px 20px rgba(0,0,0,0.15),
        0 20px 40px rgba(0,0,0,0.10);
    position: relative;
    
    #line{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    #line12{
            width: 0.1rem;
            height: 1rem;
            border: 2px solid black;
        }
        #line6{
            width: 0.1rem;
            height: 1rem;
            border: 2px solid black;
        }
    }
  }
}

